<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"


       xsi:schemaLocation="http://www.springframework.org/schema/beans

 http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="ISomeServices" class="auto.ISomeService"></bean>

    <bean id="Before" class="auto.BeforeMothd"></bean>





    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
<property name="beanNames" value="ISomeServices"></property>
         <property name="interceptorNames" value="Before"></property>
    </bean>

</beans>