<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"


       xsi:schemaLocation="http://www.springframework.org/schema/beans

 http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="ISomeServices" class="auto.ISomeService"></bean>

    <bean id="personService" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- 定位服务 -->
        <property name="service" ref="ISomeServices"></property>
        <!-- 服务名 -->
        <property name="serviceName" value="Service"></property>
        <!-- 注册机端口 -->
        <property name="registryPort" value="50000"></property>
        <!-- 远程接口 -->
        <property name="serviceInterface" value="auto.IsomeServices"></property>
    </bean>


</beans>